{
    "swagger": "2.0",
    "info": {
        "version": "1.0",
        "title": "Typeform",
        "contact": {}
    },
    "host": "api.typeform.com",
    "basePath": "/",
    "securityDefinitions": {},
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/forms/{form_id}/responses": {
            "get": {
                "summary": "Retrieve responses",
                "tags": [
                    "Responses"
                ],
                "operationId": "Retrieveresponses",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "text/plain"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Maximum number of responses. Default value is 25. Maximum value is 1000. If your typeform has fewer than 1000 responses, you can retrieve all of the responses in a single request by adding the page_size parameter. If your typeform has more than 1000 responses, use the since/until or before/after query parameters to narrow the scope of your request."
                    },
                    {
                        "name": "since",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to responses submitted since the specified date and time. Could be passed as int (timestamp in seconds) or in ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time (2020-03-20T14:00:59)."
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to responses submitted until the specified date and time. Could be passed as int (timestamp in seconds) or in ISO 8601 format, UTC time, to the second, with T as a delimiter between the date and time (2020-03-20T14:00:59)."
                    },
                    {
                        "name": "after",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to responses submitted after the specified token. Could not be used together with sort parameter, as it sorts responses in the order that our system processed them (submitted_at). This ensures that you can traverse the complete set of responses without repeating entries."
                    },
                    {
                        "name": "before",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to responses submitted before the specified token. Could not be used together with sort parameter, as it sorts responses in the order that our system processed them (submitted_at). This ensures that you can traverse the complete set of responses without repeating entries."
                    },
                    {
                        "name": "included_response_ids",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to the specified responseid values. Use a comma-separated list to specify more than one responseid value."
                    },
                    {
                        "name": "excluded_response_ids",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Comma-separated list of response_ids  to be excluded from the response."
                    },
                    {
                        "name": "completed",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit responses only to those which were submitted. This parameter changes since/until filter, so if completed=true, it will filter by submittedat, otherwise - landedat."
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Responses order in {fieldID},{asc|desc} format. You can use built-in submittedat/landedat field IDs or any field ID from your typeform, possible directions are asc/desc. Default value is submitted_at,desc."
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to only responses that include the specified string. The string will be escaped and it will be matched aganist all answers fields, hidden fields and variables values."
                    },
                    {
                        "name": "fields",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Show only specified fields in answers section. If response does not have answers for specified fields, there will be null. Use a comma-separated list to specify more than one field value."
                    },
                    {
                        "name": "answered_fields",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Limit request to only responses that include the specified fields in answers section. Use a comma-separated list to specify more than one field value - response will contain at least one of the specified fields."
                    },
                    {
                        "name": "form_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique ID for the form. Find in your form URL. For example, in the URL \"https://mysite.typeform.com/to/u6nXL7\" the form_id is u6nXL7."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/forms": {
            "get": {
                "summary": "Retrieve forms",
                "tags": [
                    "Forms"
                ],
                "operationId": "Retrieveforms",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Returns items that contain the specified string."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to retrieve. Default 1 is the first page of results."
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to retrieve per page. Default is 10. Maximum is 200."
                    },
                    {
                        "name": "workspace_id",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Retrieve typeforms for the specified workspace."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "schema": {
                            "type": "object",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "description": "items",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "description": "id"
                                        },
                                        "title": {
                                            "type": "string",
                                            "description": "title"
                                        },
                                        "last_updated_at": {
                                            "type": "string",
                                            "description": "last updated"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/forms/{form_id}": {
            "get": {
                "summary": "Retrieve form",
                "tags": [
                    "Forms"
                ],
                "operationId": "Retrieveform",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "form_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique ID for the form. Find in your form URL. For example, in the URL \"https://mysite.typeform.com/to/u6nXL7\" the form_id is u6nXL7."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        },
        "/insights/{form_id}/summary": {
            "get": {
                "summary": "Retrieve Form Insights",
                "tags": [
                    "Form Insights"
                ],
                "operationId": "RetrieveFormInsights",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "form_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique ID for the form. Find in your form URL. For example, in the URL \"https://mysite.typeform.com/to/u6nXL7\" the form_id is u6nXL7."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "schema": {
                            "type": "object",
                            "properties": {
                                "form": {
                                    "type": "object",
                                    "properties": {
                                        "summary": {
                                            "type": "object",
                                            "properties": {
                                                "average_time": {
                                                    "type": "integer",
                                                    "description": "average time"
                                                },
                                                "completion_rate": {
                                                    "type": "integer",
                                                    "description": "completion rate"
                                                },
                                                "responses_count": {
                                                    "type": "integer",
                                                    "description": "responses count"
                                                },
                                                "total_visits": {
                                                    "type": "integer",
                                                    "description": "total visits"
                                                },
                                                "unique_visits": {
                                                    "type": "integer",
                                                    "description": "unique visits"
                                                }
                                            }
                                        }
                                    }
                                },
                                "fields": {
                                    "type": "array",
                                    "properties": {
                                        "title": {
                                            "type": "string",
                                            "description": "title"
                                        },
                                        "views": {
                                            "type": "integer",
                                            "description": "views"
                                        },
                                        "dropoffs": {
                                            "type": "integer",
                                            "description": "dropoffs"
                                        },
                                        "type": {
                                            "type": "string",
                                            "description": "type"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/me": {
            "get": {
                "summary": "Retrieve your own user",
                "tags": [
                    "User"
                ],
                "operationId": "Retrieveyourownuser",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "schema": {
                            "type": "object",
                            "properties": {
                                "alias": {
                                    "type": "string",
                                    "description": "alias"
                                },
                                "email": {
                                    "type": "string",
                                    "description": "email"
                                },
                                "language": {
                                    "type": "string",
                                    "description": "language"
                                },
                                "user_id": {
                                    "type": "string",
                                    "description": "user id"
                                },
                                "tracking_id": {
                                    "type": "integer",
                                    "description": "tracking id"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces": {
            "get": {
                "summary": "Retrieve workspaces",
                "tags": [
                    "Workspaces"
                ],
                "operationId": "Retrieveworkspaces",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "description": "Returns items that contain the specified string."
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "description": "The page of results to retrieve. Default 1 is the first page of results."
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "required": true,
                        "type": "integer",
                        "format": "int32",
                        "description": "Number of results to retrieve per page. Default is 10. Maximum is 200."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {},
                        "schema": {
                            "type": "object",
                            "properties": {
                                "items": {
                                    "type": "array",
                                    "description": "items",
                                    "properties": {
                                        "forms": {
                                            "type": "object",
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "description": "count"
                                                },
                                                "href": {
                                                    "type": "string",
                                                    "description": "href"
                                                }
                                            }
                                        },
                                        "id": {
                                            "type": "string",
                                            "description": "id"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "name"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}": {
            "get": {
                "summary": "Retrieve workspace",
                "tags": [
                    "Workspaces"
                ],
                "operationId": "Retrieveworkspace",
                "deprecated": false,
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "default": "Bearer {token}",
                        "type": "string"
                    },
                    {
                        "name": "workspace_id",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "Unique ID for the workspace."
                    },
                    {
                        "name": "Content-Type",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    },
                    {
                        "name": "Accept",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "description": ""
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "headers": {}
                    }
                }
            }
        }
    },
    "tags": [
        {
            "name": "Responses"
        },
        {
            "name": "Forms"
        },
        {
            "name": "Form Insights"
        },
        {
            "name": "User"
        },
        {
            "name": "Workspaces"
        }
    ]
}